<div class="board-container">
  <button ng-click="board.fetchTasks()">Get Tasks</button>
  <label>
    <input type="checkbox"
           ng-model="board.filterCompleted"
           ng-click="board.filterCompletedTasks()"
           value="false">
    Filter completed
  </label>
  <label>
    <input type="checkbox"
           ng-model="board.filterInProgress"
           ng-click="board.filterInProgressTasks()"
           value="false">
    Filter in progress
  </label>
  <label>
    <input type="checkbox"
           ng-model="board.filterReady"
           ng-click="board.filterReadyTasks()"
           value="false">
    Filter Ready
  </label>
  <h1 ng-if="board.isLoading">Loading</h1>
  <table ng-if="board.tasks">
    <tr>
      <th ng-repeat="status in board.statuses">{{ status }}</th>
    </tr>
    <tr ng-repeat="task in board.tasks" swim-lane="task"></tr>
  </table>
</div>
