<div class="task-container">
  <p>{{ task.item.name }}</p>
  <button
    ng-if="task.item.status === 'READY'"
    ng-click="task.start(task.item)">
    Start
  </button>
  <button
    ng-click="task.complete(task.item)"
    ng-if="task.item.status === 'IN_PROGRESS'">
   Complete
  </button>
  <div>
    <button ng-if="!task.showRename" ng-click="task.rename()">Rename</button>
    <input ng-if="task.showRename" type="text" ng-model="task.item.name">
    <button ng-if="task.showRename" ng-click="task.update(task.item)">Update</button>
  </div>
</div>
